#calc {
    box-sizing:content-box;
    width: 20vh;
    max-width: 250px;
    padding: 20px 20px 20px 20px;
    border: blue;
    border-style:groove;
    border-width: 10px;
}
#displays {
    contain: content;
    box-sizing:border-box;
    width: 100%;
    border: blue;
    border-style:outset;
    border-width: 2px;
    margin-bottom: px;
    padding-bottom: px;
    align-content: center;
    word-wrap: break-word;
}
#topDisplay {
    margin: 0;
    padding: 4px 2px 0px 2px;
    height: 24px;
    text-align: right;
    font-size: 20px;
}
#lowerDisplay{
    margin: 0;
    padding: 0px 2px 4px 2px;
    height: 24px;
    text-align: right;
    font-size: 20px;
}
.grid {
    display: flex;
    margin: 1rem;
    flex-wrap: wrap;
    flex-flow: column wrap;
}
.clear, .equal {
    flex-grow: 2;
    min-width: 45%;

}